[submodule "digital_verification_SV"]
	path = digital_verification_SV
	url = git@rmoncada21.github.com:rmoncada21/digital_verification_SystemVerilog.git
[submodule "digital_architectureHDL"]
	path = digital_architectureHDL
	url = git@rmoncada21.github.com:rmoncada21/digital_architectureHDL.git
[submodule "digital_designHDL"]
	path = digital_designHDL
	url = git@rmoncada21.github.com:rmoncada21/digital_designHDL.git
[submodule "LCR_SV_Aligner"]
	path = LCR_SV_Aligner
	url = git@rmoncada21.github.com:rmoncada21/Proyecto_LCR_SV_Aligner.git
[submodule "UVM_MeshNoC"]
	path = UVM_MeshNoC
	url = git@rmoncada21.github.com:rmoncada21/Proyecto_UVM_MeshNoC.git
